{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}

{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron bg-info text-white ">
    <div class="container">
      <h1 class="display-3">FashionWave</h1>
      <p>
We are on a mission to make hyperlocal magical. And with more than 1.5 lakh merchant partners and 5 million+ users across a dozen cities, we know a thing or two about scale.<br>Our users can tap into our community, known as “magicians”, who have their finger on the pulse of their city’s neighbourhoods. Their picture stories inspire other users to have those experiences. For retailers and brands, magicpin is the go-to platform to reach out to relevant local customers, highlight their uniqueness, reward loyal customers through magicPoints and vouchers, run real-time promotions, augmented reality games, micro-influencer campaigns and more.

magicpin builds engagement and visibility for its partner retailers and brands to help drive up their new and repeat business.

</p>

    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Lightspeed</h2>
        <p>Lightspeed is a three decade old Silicon Valley based venture capital fund with over USD 3B in assets under management across US, Israel, China and India. Consumer investments include Snapchat, Oyo, Byjus, Freshmenu, etc. </p>

      </div>
      <div class="col-md-4">
        <h2>Launchpad (2016)</h2>
        <p>Google Launchpad Accelerator provides successful early stage businesses with technology and expertise necessary to scale. magicpin was the youngest startup internationally selected for this program. </p>

      </div>
      <div class="col-md-4">
        <h2>Waterbridge</h2>
        <p>Early stage VC firm: Catalyst for Tech Entrepreneurship in India. Investment Partner/Board Observer/Board of Directors: magicpin, Unacademy, Dataweave, Chalo, 99RetailStreet, ZipLoan, ZopHop.</p>

      </div>
    </div>

    <hr>


  </div> <!-- /container -->

</main>





{% endblock %}